{% load static %}
<title>Reset Password</title>
<link rel="stylesheet" href="{% static 'css/style2.css'%}">
<div class="login-box">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        <div class="user-box">
            <input type="email" name="email" required="">
            <label>Email</label>
        </div>
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
           Reset Password
        </button>
    </form>
    {% if messages %}
    {% for message  in messages %}
        <p style="color:#f70c0c">{{message}}</p>
    {% endfor %}
    {% endif %}
</div>